.error {
    color: #f00;
}

.dragarea {
    /* font-size: 1.5rem; */
    border: 2px solid #3f51b5;
    padding: 1.5rem;
    border-radius: 3px;
    background-color: #fff;
    color: #bbb;
    color: rgb(126, 126, 126);
}

.droparea {
    font-size: 1.5rem;
    border: 3px dashed #bbb;
    padding: 1.5rem;
    background-color: #eff;
    color: #aaa;
    color: rgb(126, 126, 126);
}

.main-container-drag-and-drop {
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    padding: 40px;
}

.link-procurar-arquivo {
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-text-drag-and-drop {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.title-drag-and-drop {
    color: rgb(126, 126, 126);
    font-weight: 300;
    font-size: 24px;
}

.icon-upload {
    color: #3f51b5;
    transform: scale(5);
}

.login-button {
    width: 50%;
    border-color: #3f51b5;
}

.container-block-files {
    height: 80%;
    width: 100%;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    /* box-shadow: 0px 0px 10px  rgba(128, 128, 128, 0.164); */

    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.mat-list-files-to-upload {
    max-height: 300px;
    overflow: scroll;
}

.item-file-upload {
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-select-banco-extrato {
    padding: 20px 20px 0 0;
}

.icone-upload-arquivo-especifico {
    cursor: pointer;
}

.btn-send-file {
    display: flex;
    justify-content: center;
    align-items: center;
}