.form-field {
    width: 100%;
}

.select-destinatario-origem {
    width: 100%;
}

.text-align-center {
    text-align: left !important;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}